.ratingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin: 10px;
}

.ratingImage {
    width: 80px;
    height: 60px;
    object-fit: contain;
    display: block;
}

.ratingButtonContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.ratingButton {
    background-color:#efaeea;
    border-radius: 5px;
    font-size: 18px;
    color: #36033b;
    padding: 10px 15px;
    cursor: pointer;
}

.ratingButton:hover{
    background-color: #853a7f;
    color: white;
}